.marcas{
margin-left: auto;
    background-color: $black;
    background-size: cover;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

img{

    margin: auto;
    width: 60%;
    height: 60%;

}


    @include tablet{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: auto;
        img{
            margin: auto;
            width: 50%;
            height: 70%;
        
        }
    }
}

.datos-contact{
    display: block;

    @include tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
   

    color: black;
    font-family: $fuente_secundaria;
    text-align: center;
    padding: 1rem;
    a{
        text-decoration: none;
        color: #e9e9e9;
        font-family: $fuente_secundaria;
    }
}

.redes{
    color: black;
}
.section-galeria{
    padding: 2rem;
    p{
        font-family: $fuente_secundaria;
        text-align: center;

    }
}

.galeria{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;


    img{
        height: 17rem;
    }
}

.video{
    width: 100%;

    video{
  width: 100%;
    }
}